body {
    background: #04d976;
    font-family: Arial;
    padding: 40px;
}

.container {
    background: white;
    width: 900px;
    padding: 30px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    gap: 40px;
}

/* PHOTO SECTION */
.product__photo { width: 50%; }

.photo-container {
    background: linear-gradient(#c4ff92, #79d834);
    padding: 20px;
    border-radius: 15px;
}

.photo-main img {
    width: 100%;
}

.photo-album ul {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    list-style: none;
    padding: 0;
}

.photo-album ul li img {
    width: 60px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

/* DETAILS SECTION */
.product-details { width: 50%; }

.price {
    font-size: 40px;
    color: #ff4d4d;
    font-weight: bold;
}

.variant ul {
    display: flex;
    list-style: none;
    padding: 0;
    gap: 10px;
}

.variant ul li img {
    width: 40px;
    border-radius: 50%;
}

.description ul {
    list-style: disc;
    margin-left: 20px;
}

.add-to-cart {
    background: #ff4d4d;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
}
